@import 'https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/dark/main.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--calcite-sans-family);
  color: white;
}
body {
  background: radial-gradient(#a3a8aa, #111111);
}

.calcite-theme-dark,
:root {
  --calcite-ui-brand: rgb(255, 255, 255);
  --calcite-ui-brand-hover: rgb(175, 175, 175);
  --calcite-ui-border-2: rgba(255, 255, 255, 0.6);
  --border-radius: 10px;
  --box-shadow: 0 1px 4px rgb(0 0 0 / 80%);
  --padding: 25px;
  --mobile-font-size: 12px;
  --font-size: 14px;
}

.esri-widget {
  background: none !important;
}

.esri-widget__heading.esri-legend__service-label {
  display: none !important;
}

.esri-legend__service {
  padding: 0;
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(238 143 31 / 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(238 143 31 / 0.8);
}

.separator:before {
  content: '';
  width: 50%;
  margin: 10px auto;
  border-top: 1px solid rgba(255 255 255 / 0.3);
  display: block;
  padding: 0 0 10px 0;
}

a {
  color: var(--calcite-ui-brand);
  text-decoration: none;
  border-bottom: 1px solid var(--calcite-ui-brand);
}

a:hover {
  cursor: pointer;
  color: var(--calcite-ui-brand-hover);
  border-bottom: 1px solid var(--calcite-ui-brand-hover);
}
